<p style="color: green"><%= notice %></p>

<h1>Bookings</h1>

<%= link_to "New booking", new_booking_path %>

<div id="bookings">
  <table>
    <tr>
      <th><strong>First name:</strong></th>
      <th><strong>Last name:</strong></th>
      <th><strong>Animal name:</strong></th>
      <th><strong>Animal type:</strong></th>
      <th><strong>Hours requested:</strong></th>
      <th><strong>Service date:</strong></th>
      <th><strong>Appt. price:</strong></th>
      <th><strong>View:</strong></th>
    </tr>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.first_name %></td>
        <td><%= booking.last_name %></td>
        <td><%= booking.animal_name %></td>
        <td><%= booking.animal_type %></td>
        <td><%= booking.hours_requested %></td>
        <td><%= booking.service_date %></td>
        <td><%= booking.appointment_price%></td>
        <td><%= link_to "View", booking %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= @price_total %></td>
      <td></td>
    </tr>
  </table>
</div>
